body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 30px;
  margin: 0;
}

#title {
  color: beige;
  font-size: 90px;
  margin-top: 0;
}

#img-div {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#img-caption {
  font-size: 14px;
  font-weight: bold;
}

#tribute-info {
  margin-bottom: 20px;
}

a#tribute-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a#tribute-link:hover {
  background-color: beige;
}
