body {
  font-family: Arial, Helvetica, sans-serif;
}
 
main{
  display:flex;
  flex-direction:column;
  background-color: aqua;
}
#img-div {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#image {
  max-width: 100%;
  height: auto;
}
